body {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

h2 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

p {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.root {
    background-color:hsl(212, 45%, 89%);
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25vh;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 15px;
    padding: 15px;
    width: 19em;
}

.container img {
    width: 19em;
    border-radius: 10px;
}

.container .content {
    text-align: center;
    padding: 10px;
}

@media screen and (max-width:375px) {
    .root {
        width: 100%;
    }
}